<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Model Viewer</title>
    <script type="module" crossorigin th:src="@{/assets/index-s-KoNWUh.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/index-TZrNw7dA.css}">
</head>
<body>
<div id="root"></div>

<!-- Pass the model URL to the frontend -->
<script th:inline="javascript">
    /*<![CDATA[*/
    window.modelUrl = /*[[${modelUrl}]]*/ '';
    /*]]>*/
</script>
</body>
</html>

